.OccupSumCP th, .OccupSumCP td {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  padding: 50px
}

.OccupSumCP tr {
}

.RegionStateNation th, .RegionStateNation td {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-bottom: 1px grey;
  border-top: 1px grey;
  padding: 10px;
}

.RegionStateNation tr {
}

.IndEmpCP th, .IndEmpCP td {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-bottom: 1px grey;
  border-top: 1px grey;
  padding: 10px;
}

.IndEmpCP tr {
}

canvas {
  width: 100%;
  height: 200px;
}
