table, th, td {
  border: 2px solid #13FF21;
  border-collapse: collapse;
  text-alignment: center;
  width: 25%;
}

body {
  background-color: black;
}

.hacker {
  color: #13FF21;
  font-family: 'Impact';
  position: relative;
  top: 20px;
}

tr {
  color: #13FF21;
  font-family: 'Impact';
}

button {
  background-color: #13FF21;
  width: 25%;
  height: 50px;
  font-family: 'Impact';
  position: relative;
  top: 20px;
  border: black;
}

button:hover {
  background-color: lightgreen;
}

