table.OccupSumCP, th, td {
  width: 100%;
  border: 2px solid grey;
  border-collapse: collapse;
  padding: 50px;
}

table.RegionStateNation, th, td {
  border-bottom: 1px grey;
  width: 100%;
  text-align: left;
  padding: 10px;
}

table.RegionStateNation tr {
  border-collapse: collapse; 
}

table.IndEmpCP, th, td {
  border-bottom: 1px grey;
  width: 100%;
  text-align: left;
  padding: 10px;
}

table.IndEmpCP tr {
  border-collapse: collapse; 
}

canvas {
  width: 100%;
  height: 200px;
}
