table, th, td {
  border: 2px solid #13FF21;
  border-collapse: collapse;
  text-align: center;
  width: 25%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  position: relative;
  top: 20px;
}

body {
  background-color: black;
}

.hacker {
  color: #13FF21;
  font-family: 'Impact';
  position: relative;
  top: 20px;
  text-align: center;
}

tr {
  color: #13FF21;
  font-family: 'Impact';
}

button {
  background-color: #13FF21;
  width: 25%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  height: 50px;
  font-family: 'Impact';
  position: relative;
  top: 20px;
  text-align: center;
}

button:hover {
  background-color: lightgreen;
}

