table, th, td {
  border: 1px solid #13FF21;
  border-collapse: collapse;
  text-alignment: center;
  width: 50%;
}

body {
  background-color: black;
}

h1 {
  color: #13FF21;
  font-family: 'Impact';
}

p {
  color: #13FF21;
  text-alignment: center;
  font-family: 'Impact';
}

tr {
  color: #13FF21;
  font-family: 'Impact';
}

button {
  background-color: #13FF21;
  width: 50%;
  font-family: 'Impact';
}

