table.OccupSumCP, th, td {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

table.RegionStateNation, th, td {
  width: 100%;
  text-align: left;
}

table.RegionStateNation tr {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse; 
}

table.IndEmpCP, th, td {
  width: 100%;
  text-align: left;
}

table.IndEmpCP tr {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse; 
}


